<form class="add-new-meal">
  <label for="">name</label>
  <input class="form-control" type="text" name="name" value="" #newMealName>
  <label for="">description</label>
  <input class="form-control" type="text" name="name" value="" #newMealDescription>
  <label for="">calories</label>
  <input  class="form-control" type="text" name="name" value="" #newMealCalories>
  <button class="add-button btn btn-primary btn-block" (click)="addMeal(newMealName,newMealDescription,newMealCalories)">Add</button>
</form>
